.signUp-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .signUp-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        h2 {
            font-weight: bold;
            margin-bottom: 30px;
        }
        .form-group {
            .form-control,
            button {
                width: 100%;
                height: auto;
                font-size: 1.2em !important;
                margin-bottom: 12px;
                padding: 10px 16px;
                border: 0;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
                &:focus {
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
                }
            }
            button {
                margin-top: 10px;
                color: #fff;
                background: rgba(0, 177, 106, 1);
                background: -moz-linear-gradient(left, rgba(0, 177, 106, 1) 0%, rgba(3, 166, 120, 1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 177, 106, 1)), color-stop(100%, rgba(3, 166, 120, 1)));
                background: -webkit-linear-gradient(left, rgba(0, 177, 106, 1) 0%, rgba(3, 166, 120, 1) 100%);
                background: -o-linear-gradient(left, rgba(0, 177, 106, 1) 0%, rgba(3, 166, 120, 1) 100%);
                background: -ms-linear-gradient(left, rgba(0, 177, 106, 1) 0%, rgba(3, 166, 120, 1) 100%);
                background: linear-gradient(to right, rgba(0, 177, 106, 1) 0%, rgba(3, 166, 120, 1) 100%);
                font-weight: bold;
                border: 0;
            }
        }
        .error-message {
            padding: 10px 0;
            margin-top: -16px;
            color: #F22613;
        }
        .link-form {
            font-size: 1.2em;
            a {
                color: #00B16A;
                &:hover {
                    color: #03A678;
                    text-decoration: none;
                }
            }
        }
    }
}

@media(max-width: 1260px) {
    .signUp-container {
        .signUp-form {
            width: 40%;
        }
    }
}

@media(max-width: 960px) {
    .signUp-container {
        .signUp-form {
            width: 60%;
        }
    }
}

@media(max-width: 660px) {
    .signUp-container {
        .signUp-form {
            width: 80%;
        }
    }
}